/* Write your CSS code here */
.product-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.product-image {
  height: 200px;
}
@media (min-width: 768px) {
  .product-image {
    height: 400px;
  }
}
